{%load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
         {% htmx_script %}
         <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
        body { font-family: 'Inter', sans-serif; }
    </style>
</head>
<body class="bg-slate-50 flex" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-indicator="#htmx-loading">
    {%block aside%}
    {%endblock%}
    

    {%block content%}{%endblock%}
    
</body>
</html>