{% extends 'portals/base.html' %} 
{% block title %}Admin Console{% endblock %}
{% block aside %}

<!-- School identity -->
<!-- Brand Logo & Header -->
{%include 'portals/admin/sidebar.html'%}
{% endblock %}
<!-- prttier guard -->
{% block content %}
<!-- frustrating guard -->
{%include 'portals/admin/admin_overview.html' with t_teachers=total_teachers t_students=total_students t_class_arms=total_class_arms curr_term=curr_term %}
<!-- guard -->
{% endblock %}

<!-- new block -->
{%block right_sidebar%}
<!-- guard -->
{%include 'portals/admin/right_sidebar.html' %}
<!-- guard -->
{%endblock%}
