{%extends 'base/base.html' %}
{% load static%}

{%block title%}our school{%endblock%}

{%block content%}
<div id="container" class="mt-32 max-w-7xl mx-auto">

    <section class="min-h-screen w-full bg-red-500">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consequatur laborum iste deleniti nostrum iusto omnis consectetur fugiat. Quia at alias libero a porro odit assumenda incidunt earum ipsa nam?</p>
    </section>
    <section class="min-h-screen w-full bg-blue-500">a</section>
    <section class="min-h-screen w-full bg-gray-500">a</section>
    <section class="min-h-screen w-full bg-indigo-500">a</section>
    <section class="min-h-screen w-full bg-violet-500">a</section>
</div>

 
{%endblock%}