{% load static%}
{%load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our school</title>
    {%tailwind_css%}
    {%block title%}
    {%endblock%}
</head>
<body>


{%block content%}
<div id="container" class="mt-32 max-w-7xl mx-auto">

    <section class="bg-red-500">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consequatur laborum iste deleniti nostrum iusto omnis consectetur fugiat. Quia at alias libero a porro odit assumenda incidunt earum ipsa nam?</p>
    </section>
    <section class="bg-blue-500">
        <a href="{%url 'users:login' %}">go to portal</a>
    </section>
    <section class="bg-gray-500">a</section>
    <section class="bg-indigo-500">a</section>
    <section class="bg-violet-500">a</section>
</div>

 
{%endblock%}
</body>
</html>

